.sidelink {
    text-decoration: none;
    display: block;
    color: #fefefe;
    padding: 8px 12px;
    background-color: transparent;
}

.sidelink:hover {
    color: #44d62c;
}

.setting-menu .active {
    display: block;
    color: #050607;
    padding: 8px 12px;
    background-color: #44d62c;
    border-radius: 4px;
}
