.factorImg {
    max-width: 100%;
    height: auto;
}

.sliderContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.sliderItem {
    position: relative;
    display: flex;
    background-color: #050607;
    border-radius: 12px;
    flex: 0 0 90%;
    margin-right: 12px;
    overflow: hidden;
}

#btnHidden {
    display: none;
}

.swiperPagination {
    display: none;
}
