.containerMain {
    height: 100vh;
    background-color: rgba(56, 59, 62, 0.5);
}

.containerPass {
    background-color: #414444;
    border-radius: 8px;
    height: auto;
}

.passCmd {
    background-color: #c9870c;
    border-radius: 10px;
}

/* .pass-cmd p{
 
} */

.formPass span {
    color: red;
}

.inputan {
    position: relative;
}

.inputan svg {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

.iconMata {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    pointer-events: none;
    font-size: 20px;
    /* margin-left: 300px; */
}

.btn:hover {
    background-color: #44d62c !important;
}
